 .MenuBar-list-265 {
 height:100%
 }

 .MuiDrawer-docked-269 {
  height: 100%;
 } 
 .MuiListItemText-inset-297:first-child {
    padding-left: 10px !important;
}
.MenuBar-list-465{height: 100% !important;}
.MenuBar-list-655{height: 100% !important;}
.MuiDrawer-root-468 {height: 100% !important;}
.MuiDrawer-docked-469{height: 100% !important;}