.viewport {
  margin: auto;
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.just {
  justify-content: center;
  align-items: center;
  display: flex;
}


