.viewport {
  margin: auto;
  width: 99.9%;
  min-width: 360px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.just {
  justify-content: center;
  align-items: center;
  display: flex;
}

.slick-alter {
  width: 1500px;
  height: 520px;
  margin: auto;
}

/* .slick-row {
  display: flex;
  flex-direction: row;
} */

